{
  "openapi": "3.0.3",
  "info": {
    "title": "API for Astrophysics Data System (ADS)",
    "description": "## API for the NASA Astrophysics Data System\n\nThe source code for the project can be found at https://github.com/adsabs.\n\nIndividual components:\n* Search: https://github.com/adsabs/solr-service\n* Stored search: https://github.com/adsabs/vault\n* Libraries: https://github.com/adsabs/biblib-service\n* Export: https://github.com/adsabs/export_service\n* Metrics: https://github.com/adsabs/metrics_service\n* Author affiliation: https://github.com/adsabs/author_affiliation_service\n* Citation helper: https://github.com/adsabs/citation_helper_service\n* Classic import: https://github.com/adsabs/harbour-service\n* Objects: https://github.com/adsabs/object_service\n* Journals: https://github.com/adsabs/ADSJournalsDB\n* Recommender: https://github.com/adsabs/oracle_service\n* Reference: https://github.com/adsabs/reference_service\n* Resolver: https://github.com/adsabs/resolver_service\n* Notifications: https://github.com/adsabs/vault\n* Visualizations: https://github.com/adsabs/vis-services\n\nThis documentation follows the [OpenAPI specification](https://swagger.io/specification/).\nThe UI was created with [RapiDoc](https://mrin9.github.io/RapiDoc/index.html).\n",
    "termsOfService": "https://ui.adsabs.harvard.edu/help/terms/",
    "contact": {
      "name": "ADS Help",
      "url": "https://github.com/adsabs/adsabs-dev-api",
      "email": "adshelp@cfa.harvard.edu"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.adsabs.harvard.edu/{basePath}",
      "description": "Production Server",
      "variables": {
        "basePath": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://devapi.adsabs.harvard.edu/{basePath}",
      "description": "Development Server",
      "variables": {
        "basePath": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    }
  ],
  "security": [
    {
      "ApiKeySecurity": []
    }
  ],
  "tags": [
    {
      "name": "search"
    },
    {
      "name": "stored search"
    },
    {
      "name": "libraries"
    },
    {
      "name": "export (tagged formats)"
    },
    {
      "name": "export (LaTeX formats)"
    },
    {
      "name": "export (XML formats)"
    },
    {
      "name": "export (other)"
    },
    {
      "name": "metrics"
    },
    {
      "name": "author affiliation"
    },
    {
      "name": "citation helper"
    },
    {
      "name": "classic import"
    },
    {
      "name": "objects"
    },
    {
      "name": "journals"
    },
    {
      "name": "recommender"
    },
    {
      "name": "reference"
    },
    {
      "name": "resolver"
    },
    {
      "name": "notifications"
    },
    {
      "name": "visualizations"
    }
  ],
  "externalDocs": {
    "description": "Complete documentation describing how to use this API",
    "url": "https://github.com/adsabs/adsabs-dev-api"
  },
  "paths": {
    "/search/query": {
      "get": {
        "summary": "Search ADS",
        "description": "Do a search.\n\nQuery the search engine and return results. All parameters have to be properly url-encoded UTF-8. The response body will always be JSON encoded.\n\n## Example Search\n`q=bibcode:2012A%26A...542A..16R&fl=bibcode,author,pub,identifier,title,property,abstract,keyword,aff`\n## Example Response\n```{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":3,\n    \"params\":{\n      \"q\":\"bibcode:2012A&A...542A..16R\",\n      \"fl\":\"bibcode,author,pub,identifier,title,property,abstract,keyword\",\n      \"start\":\"0\",\n      \"rows\":\"10\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":1,\"start\":0,\"docs\":[\n    {\n      \"identifier\":[\"2012arXiv1204.4485R\",\n        \"2012A&A...542A..16R\",\n        \"10.1051/0004-6361/201118723\",\n        \"10.1051/0004-6361/201118723\",\n        \"arXiv:1204.4485\",\n        \"2012arXiv1204.4485R\"],\n      \"abstract\":\"X-ray surveys contain sizable numbers [...],\n      \"property\":[\"ARTICLE\",\n        \"ASSOCIATED\",\n        \"DATA\",\n        \"EPRINT_OPENACCESS\",\n        \"ESOURCE\",\n        \"OPENACCESS\",\n        \"PUB_OPENACCESS\",\n        \"REFEREED\"],\n      \"bibcode\":\"2012A&A...542A..16R\",\n      \"author\":[\"Ranalli, P.\",\n        \"Comastri, A.\",\n        \"Zamorani, G.\",\n        \"Cappelluti, N.\",\n        \"Civano, F.\",\n        \"Georgantopoulos, I.\",\n        \"Gilli, R.\",\n        \"Schinnerer, E.\",\n        \"Smolčić, V.\",\n        \"Vignali, C.\"],\n      \"pub\":\"Astronomy and Astrophysics\",\n      \"keyword\":[\"X-rays: galaxies\",\n        \"radio continuum: galaxies\",\n        \"galaxies: fundamental parameters\",\n        \"galaxies: star formation\",\n        \"galaxies: active\",\n        \"galaxies: high-redshift\",\n        \"Astrophysics - Cosmology and Extragalactic Astrophysics\"],\n      \"title\":[\"X-ray properties of radio-selected star forming galaxies in the Chandra-COSMOS survey\"]}]\n  }}\n```\n## Example Search Requests\nQuery | Explanation\n------|-------------------------------------------------\n `q=bibcode:2011ApJ...737..103S` |  Search by bibcode\n `q=black+holes&fq=database:astronomy` |  Search for \"black holes\", restricted to astronomy content\n `q=dark+energy&fq=author:\"Civano,+F\"&sort=citation_count+desc` |  Search for \"dark energy\", filter by author, sort by citation count\n`q=dark+energy&sort=citation_count+desc&fl=bibcode,property` |   Return *bibcode* and *property* values\n`q=author:\"Kurtz,+M\"&fq=property:refereed`|   Limit a search to only refereed articles\n`q=transiting+exoplanets&rows=200`|  Search for \"transiting exoplanets\", get 200 rows\n`q=transiting+exoplanets&rows=200&start=201`|   Same search but get the next 200 rows\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/fq"
          },
          {
            "$ref": "#/components/parameters/fl"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/rows"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResults"
          },
          "400": {
            "description": "Malformed request"
          },
          "404": {
            "description": "Resource not found"
          },
          "499": {
            "description": "Server too busy"
          },
          "500": {
            "description": "Server error"
          }
        },
        "tags": [
          "search"
        ]
      }
    },
    "/search/qtree": {
      "get": {
        "summary": "(advanced) Search ADS and return a query tree object",
        "description": "Returns a `query tree` (Abstract Syntax Tree - AST) as understood by our query parser. The structure can be used by external applications to rewrite the query or check its syntactic correctness.\n\n## Example result\n```JSON\n{\n     \"qtree\": \"\\n{\\\"name\\\":\\\"OPERATOR\\\", \\\"label\\\":\\\"DEFOP\\\", \\\"children\\\": [\\n    {\\\"name\\\":\\\"MODIFIER\\\", \\\"label\\\":\\\"MODIFIER\\\", \\\"children\\\": [\\n        {\\\"name\\\":\\\"TMODIFIER\\\", \\\"label\\\":\\\"TMODIFIER\\\", \\\"children\\\": [\\n            {\\\"name\\\":\\\"FIELD\\\", \\\"label\\\":\\\"FIELD\\\", \\\"children\\\": [\\n                {\\\"name\\\":\\\"QNORMAL\\\", \\\"label\\\":\\\"QNORMAL\\\", \\\"children\\\": [\\n                    {\\\"name\\\":\\\"TERM_NORMAL\\\", \\\"input\\\":\\\"star\\\", \\\"start\\\":0, \\\"end\\\":3}]\\n                }]\\n            }]\\n        }]\\n    }]\\n}\",\n     \"responseHeader\": {\n      \"status\": 0,\n      \"QTime\": 6,\n      \"params\": {\n       \"q\": \"star\",\n       \"wt\": \"json\",\n       \"fl\": \"id\"\n      }\n     }\n    }\n```\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/fq"
          },
          {
            "$ref": "#/components/parameters/fl"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/rows"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/QTree"
          },
          "400": {
            "description": "Malformed request"
          },
          "404": {
            "description": "Resource not found"
          },
          "499": {
            "description": "Server too busy"
          },
          "500": {
            "description": "Server error"
          }
        },
        "tags": [
          "search"
        ]
      }
    },
    "/search/bigquery": {
      "post": {
        "summary": "Search using bigquery",
        "description": "Search endpoint which accepts a list of many IDs (bibcodes). Supports paging.\n\nThis endpoint accepts standard search query parameters and returns standard search results, but it also accepts as input a very large query (i.e. a query that can be expressed only as a list of search criteria, typically IDs). There is currently no limit to the size of the submitted data (besides buffer/time limits imposed by our API frontend); however, there are severe limits on how often you can call this endpoint. Typically, only 100 requests per day per user are allowed.\n\nThe `bigquery` is always executed as a filter **after** the main query (to filter out unwanted results and keep only the results specified by the `bigquery`). You may want to use `q=*:*` to filter contents of the whole database, however it is advisable to make the `q` as specific as possible. Broad queries have higher `qTime` (execution time) and that will be counted towards your rate-limit (in the future).\n\nThe bigquery filter is *applied only after* the main search (i.e. it limits results of the main search).\n\n## Example requests\n\nPython\n\n```\n  import requests\n  bibcodes=\"bibcode\\n1907AN....174...59.\\n1908PA.....16..445.\\n1989LNP...334..242S\"\n  r = requests.post('https://api.adsabs.harvard.edu/v1/search/bigquery',\n       params={'q':'*:*', 'wt':'json', 'fq':'{!bitset}', 'fl':'bibcode'},\n       headers={'Authorization': 'Bearer:TOKEN'},\n       data=bibcodes)\n```\n\nBash curl\n\n```\n  curl 'https://api.adsabs.harvard.edu/v1/search/bigquery?q=*:*&fl=bibcode' \\\n  -X 'POST' -H 'Authorization: Bearer TOKEN' -H 'Content-Type: big-query/csv' \\\n  -d $'bibcode\\n1907AN....174...59.\\n1908PA.....16..445.\\n1989LNP...334..242S'\n```\n",
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/fq"
          },
          {
            "$ref": "#/components/parameters/fl"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/rows"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "requestBody": {
          "description": "Newline separated list of values; the first line specifies the index field, the rest are the search values. <br/> Currently, we allow searching in `bibcode` index only. You can submit `canonical` as well as `alternate` bibcodes - the search will automatically match both. In the future, the list of available indexes may be extended.\n\nNote: to correctly format the POST payload, including the newline (\\n) characters, in a bash curl request, use ANSI-C quoting (e.g. `$'...'`) as shown in the examples.\n",
          "content": {
            "big-query/csv": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResults"
          },
          "404": {
            "$ref": "#/components/responses/SearchResults"
          },
          "499": {
            "description": "Server too busy"
          },
          "500": {
            "description": "Server error"
          }
        },
        "tags": [
          "search"
        ]
      }
    },
    "/vault/query": {
      "post": {
        "summary": "Save a query",
        "description": "Save a query for later execution. Can be either a regular query or a bigquery.\n\n## Example request\n\n```bash\n  $ curl 'https://api.adsabs.harvard.edu/v1/vault/query' -H 'Authorization: Bearer:TOKEN' \\\n    -X POST -d $'{\"q\":\"*:*\", \"bigquery\": \"bibcode\\\\n2015IAUGA..2257982A\\\\n2015IAUGA..2257768A\\\\n2015IAUGA..2257639R\", \"fq\": \"{!bitset}\"}' \\\n    -H 'Content-Type: application/json'\n\n  > {\"qid\": \"00b39fe4274760f5d8b348815a661ee2\", \"numFound\": 3}\n```\n",
        "requestBody": {
          "description": "JSON object holding the values to submit.\n\nNote: to correctly format the POST payload if running a bigquery, including the newline (\\n) characters, in a bash curl request, use ANSI-C quoting (e.g. `$'...'`) as shown in the examples.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/vaultObject"
              }
            }
          }
        },
        "tags": [
          "stored search"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VaultResponse"
          },
          "404": {
            "description": "QID object not found"
          }
        }
      }
    },
    "/vault/query/{queryId}": {
      "get": {
        "summary": "Retrieve information about a stored query",
        "description": "Retrive information about the previously stored query.\n\n## Example output\n\n```JSON\n{\n    \"numfound\": 9,\n    \"qid\": \"dcd173130bbbbb957eafd866baf38b2c\",\n    \"query\": \"{\\\"query\\\": \\\"fq=%7B%21bitset%7D&q=%2A%3A%2A\\\", \\\"bigquery\\\": \\\"bibcode\\\\n15ASPC..495..40015IAUGA..2257982A\\\\n2015IAUGA..2257768A\\\\n2015IAUGA..2257639R\\\\n2015ASPC..492..208G\\\\n2015ASPC..492..204F\\\\n2015ASPC..492..189A\\\\n2015ASPC..492..150T\\\\n2015ASPC..492...85E\\\\n2015ASPC..492...80H\\\\n2015AAS...22533656H\\\"}\"\n}\n```\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/queryId"
          }
        ],
        "tags": [
          "stored search"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VaultResponse"
          },
          "404": {
            "description": "QID object not found"
          }
        }
      }
    },
    "/vault/execute_query/{queryId}": {
      "get": {
        "summary": "Search using a stored query",
        "description": "Search using the stored query and return the same data as Search API endpoint.\n\n## Example response\n\n```JSON\n  {\n    \"response\": {\n        \"docs\": [\n            {\n                \"id\": \"10690723\"\n            },\n            {\n                \"id\": \"11057363\"\n            },\n            {\n                \"id\": \"10564749\"\n            },\n            {\n                \"id\": \"10796089\"\n            },\n            {\n                \"id\": \"10867252\"\n            },\n            {\n                \"id\": \"10867221\"\n            },\n            {\n                \"id\": \"10867251\"\n            },\n            {\n                \"id\": \"10867277\"\n            },\n            {\n                \"id\": \"11057812\"\n            }\n        ],\n        \"numFound\": 9,\n        \"start\": 0\n    },\n    \"responseHeader\": {\n        \"QTime\": 6,\n        \"params\": {\n            \"fl\": \"id\",\n            \"fq\": \"{!bitset}\",\n            \"q\": \"*:*\",\n            \"wt\": \"json\"\n        },\n        \"status\": 0\n    }\n  }\n```\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/queryId"
          },
          {
            "name": "jsonobj",
            "description": "You can submit query parameters that override parts of the saved query.",
            "required": false,
            "in": "header",
            "schema": {
              "$ref": "#/components/schemas/vaultObject"
            }
          }
        ],
        "tags": [
          "stored search"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResults"
          },
          "404": {
            "description": "QID object not found"
          }
        }
      }
    },
    "/vault/query2svg/{queryId}": {
      "get": {
        "summary": "Return an SVG for a stored query",
        "description": "Returns an SVG for a stored query. The image shows the number of results returned by the stored query.\n",
        "tags": [
          "stored search"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/queryId"
          }
        ],
        "responses": {
          "200": {
            "description": "Code of the SVG image",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "xml": {
                    "name": "svg"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/biblib/libraries": {
      "get": {
        "summary": "View all libraries for a given user",
        "parameters": [
          {
            "name": "start",
            "description": "start index for response",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "rows",
            "description": "number of libraries to return",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": "None"
            }
          },
          {
            "name": "sort",
            "description": "key to sort the libraries by",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date_created",
                "date_last_modified"
              ],
              "default": "date_created"
            }
          },
          {
            "name": "order",
            "description": "order to sort the libraries in",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "description": "View all libraries for the user associated with the given API token.\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata for all libraries for a given user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "libraries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/libraryMetadata"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No username passed\n"
          }
        }
      },
      "post": {
        "summary": "Create a new library",
        "description": "Create a library for the requesting user. Returns the metadata of the library created.\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the metadata and bibcodes of the library to be created.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "(optional) name of the library (must be unique for that user). The default is Untitled Library, with an incremented integer starting with 1 appended.\n"
                  },
                  "description": {
                    "type": "string",
                    "description": "(optional) description of the library. The default is \"My ADS library\"\n"
                  },
                  "public": {
                    "type": "boolean",
                    "default": false,
                    "description": "(optional) set to true to allow public access. The default is false, or a private library\n"
                  },
                  "bibcode": {
                    "type": "array",
                    "description": "(optional) list of bibcodes to add. The default is an empty library\n",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata of the library just created\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "bibcode": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No username passed, or wrong type passed\n"
          },
          "409": {
            "description": "Duplicate library name exists"
          }
        }
      }
    },
    "/biblib/libraries/{library_id}": {
      "get": {
        "summary": "View a single library",
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "description": "starting document index",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "rows",
            "description": "number of documents to return",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "description": "document sort order",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "date desc"
            }
          },
          {
            "name": "fl",
            "description": "returned fields",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "bibcode"
            }
          },
          {
            "name": "raw",
            "description": "returns raw bibcodes from database",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "description": "View metadata and contents of a specific library. Takes pagination and field arguments consistent with the \"search\" endpoint to support sorting and paging for documents within a library. The raw argument passes all bibcodes stored in the library, regardless of whether or not they are currently in ADS.\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata and contents of the given library",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {
                      "$ref": "#/components/schemas/libraryMetadata"
                    },
                    "documents": {
                      "type": "array",
                      "description": "Array of bibcodes in library",
                      "items": {
                        "type": "string"
                      }
                    },
                    "solr": {
                      "type": "object",
                      "description": "Response from solr, when validating library contents",
                      "properties": {
                        "response": {
                          "type": "object",
                          "properties": {
                            "docs": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "bibcode": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "numFound": {
                              "type": "integer"
                            },
                            "start": {
                              "type": "integer"
                            }
                          }
                        },
                        "responseHeader": {
                          "type": "object",
                          "properties": {
                            "QTime": {
                              "type": "integer"
                            },
                            "params": {
                              "type": "object",
                              "properties": {
                                "q": {
                                  "type": "string"
                                },
                                "fl": {
                                  "type": "string"
                                },
                                "start": {
                                  "type": "string"
                                },
                                "internal_logging_params": {
                                  "type": "string"
                                },
                                "sort": {
                                  "type": "string"
                                },
                                "fq": {
                                  "type": "string"
                                },
                                "rows": {
                                  "type": "string"
                                },
                                "wt": {
                                  "type": "string"
                                }
                              }
                            },
                            "status": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "updates": {
                      "type": "object",
                      "description": "Updates from Solr validation",
                      "properties": {
                        "duplicates_removed": {
                          "type": "integer",
                          "description": "Number of bibcodes removed because they are duplicates"
                        },
                        "update_list": {
                          "type": "array",
                          "description": "List of dictionaries such that a single element describes the original bibcode (key) and the updated bibcode now being stored (item)\n",
                          "items": {
                            "type": "object"
                          }
                        },
                        "num_updated": {
                          "type": "integer",
                          "description": "Number of documents modified based on the response from Solr"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/biblib/libraries/operations/{library_id}": {
      "post": {
        "summary": "Perform set operations on one or more libraries",
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID for the primary library",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Perform set operations on one or more libraries. The library_id (string) is the unique identifier of the primary library, as specified in the /libraries GET response. Depending on the operation, a secondary library ID may need to be passed in the post payload.\n## Examples\n**Union**: take the union of 3 libraries, using the default description and public settings\n``` bash\n  $ curl -H \"Authorization: Bearer $token\" -H \"Content-Type: application/json\" \\\n    https://api.adsabs.harvard.edu/v1/biblib/libraries/operations/iRZhyhvaSWe0uWwcXKt77w \\\n    -X POST \\\n    -d '{\"action\": \"union\", \"libraries\": [\"rdRs4g4AQ522k9TJ2umtVA\", \"s56fjycaRMKxw6tDEr31XQ\"], \"name\": \"New union library\"}'\n```\n\n*Response*:\n\n`{\"id\": \"BeUbSWXtTPCaRhRV3nec_w\", \"bibcode\": [\"2009A&A...502..515G\", \"2011ApJ...734...87R\", \"2010ApJ...710..248C\", \"2003ApJ...595..665X\", \"2011ApJ...731L..12S\", \"2010ApJ...721..505R\", \"2010ApJ...710L.156R\", \"2010ApJ...723.1255R\", \"2006ApJ...639L..51A\", \"2001AJ....122.2993S\", \"2010ASPC..423..355R\", \"2010A&A...518A..59G\", \"2010ApJ...721L..48K\"], \"description\": \"Union of 891661ca-1bda-4967-b4b9-6c1c5cab7bef with [u'rdRs4g4AQ522k9TJ2umtVA', u's56fjycaRMKxw6tDEr31XQ']\", \"name\": \"New union library\"}`\n\n**Intersection**: take the intersection of 2 libraries, using the default public settings\n``` bash\n  $ curl -H \"Authorization: Bearer $token\" -H \"Content-Type: application/json\" \\\n    https://api.adsabs.harvard.edu/v1/biblib/libraries/operations/BeUbSWXtTPCaRhRV3nec_w \\\n    -X POST \\\n    -d '{\"action\": \"intersection\", \"libraries\": [\"rdRs4g4AQ522k9TJ2umtVA\"], \"name\": \"New intersection library\", \"description\": \"Sample intersection library\"}'\n```\n\n*Response*:\n\n`{\"id\": \"8V8DzNqyQuOyTX6RF9x7qQ\", \"bibcode\": [\"2001AJ....122.2993S\", \"2009A&A...502..515G\", \"2006ApJ...639L..51A\", \"2010ApJ...710..248C\", \"2003ApJ...595..665X\", \"2010A&A...518A..59G\", \"2011ApJ...731L..12S\"], \"description\": \"Sample intersection library\", \"name\": \"New intersection library\"}`\n\n**Difference**: take the difference of 2 libraries\n``` bash\n  $ curl -H \"Authorization: Bearer $token\" -H \"Content-Type: application/json\" \\\n    https://api.adsabs.harvard.edu/v1/biblib/libraries/operations/BeUbSWXtTPCaRhRV3nec_w \\\n    -X POST \\\n    -d '{\"action\": \"difference\", \"libraries\": [\"rdRs4g4AQ522k9TJ2umtVA\"], \"name\": \"New difference library\", \"description\": \"Sample difference library\", \"public\": true}'\n```\n\n*Response*:\n\n`{\"id\": \"9KBh8sVHQxaVkoPALtoXgg\", \"bibcode\": [\"2011ApJ...734...87R\", \"2010ApJ...723.1255R\", \"2010ApJ...710L.156R\", \"2010ASPC..423..355R\", \"2010ApJ...721L..48K\", \"2010ApJ...721..505R\"], \"description\": \"Sample difference library\", \"name\": \"New difference library\"}`\n\n**Empty**: empty a library of all of its bibcode contents\n``` bash\n  $ curl -H \"Authorization: Bearer $token\" -H \"Content-Type: application/json\" \\\n    https://api.adsabs.harvard.edu/v1/biblib/libraries/operations/9KBh8sVHQxaVkoPALtoXgg \\\n    -X POST \\\n    -d '{\"action\": \"empty\"}'\n```\n*Response*:\n\n`{\"public\": true, \"bibcode\": [], \"name\": \"New difference library\", \"description\": \"Sample difference library\"}`\n\n**Copy**: copy the bibcode contents from the primary library to the secondary library (this will not empty the library first)\n``` bash\n  $ curl -H \"Authorization: Bearer $token\" -H \"Content-Type: application/json\" \\\n    https://api.adsabs.harvard.edu/v1/biblib/libraries/operations/BeUbSWXtTPCaRhRV3nec_w \\\n    -X POST \\\n    -d '{\"action\": \"copy\", \"libraries\": [\"9KBh8sVHQxaVkoPALtoXgg\"]}'\n```\n\n*Response*:\n\n`{\"public\": true, \"bibcode\": [\"2009A&A...502..515G\", \"2010ApJ...710L.156R\", \"2010ApJ...710..248C\", \"2003ApJ...595..665X\", \"2011ApJ...731L..12S\", \"2010ApJ...721..505R\", \"2011ApJ...734...87R\", \"2010ApJ...723.1255R\", \"2006ApJ...639L..51A\", \"2001AJ....122.2993S\", \"2010ASPC..423..355R\", \"2010A&A...518A..59G\", \"2010ApJ...721L..48K\"], \"name\": \"New difference library\", \"description\": \"Sample difference library\"}`\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the action to be performed and metadata of the library to be created.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "Set operation to perform; allowed values are:\n  * union: take the union of the primary and the secondary\n  libraries. The result is saved to a new library.\n  * intersection: take the intersection of the primary and the\n  secondary libraries. The result is saved to a new library\n  * difference: take the difference between the primary and the\n  secondary libraries. The result is saved to a new library\n  * copy: copy the contents of the primary library into the\n  secondary library. The secondary library is not emptied first;\n  use the empty operation on the secondary library first in order\n  to create a duplicate of the primary library in the secondary library\n  * empty: empty the primary library of its contents (no secondary\n  library ID is needed)\n"
                  },
                  "libraries": {
                    "type": "array",
                    "description": "list of secondary library IDs; multiple secondary libraries are allowed for [union, intersection, difference]; one secondary library is allowed for copy; no secondary libraries are allowed for empty\n",
                    "items": {
                      "type": "string"
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "name of the new library to be created for [union, intersection, difference]; the name must be unique for a given user; if no name is specified, the name used will be \"Untitled\" with a timestamp\n"
                  },
                  "description": {
                    "type": "string",
                    "description": "description of the new library to be created for [union, intersection, difference]; if no description is specified, the description used will include the set operation used and the primary and secondary library IDs\n"
                  },
                  "public": {
                    "type": "boolean",
                    "description": "sets whether the new library created by [union, intersection, difference] is publicly viewable or not; the new library will be private unless otherwise specified\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata for created/modified library",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID of created library (if any)",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of created/modified library",
                      "type": "string"
                    },
                    "description": {
                      "description": "Description of created/modified library",
                      "type": "string"
                    },
                    "bibcode": {
                      "description": "Bibcodes in created/modified library",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No username passed, bad library ID passed, wrong type passed, secondary libraries not specified where required, too many secondary libraries specified, or user requested a non-standard operation\n"
          },
          "403": {
            "description": "User does not have permission to perform this operation\n"
          },
          "409": {
            "description": "Duplicate library name exists\n"
          }
        }
      }
    },
    "/biblib/documents/{library_id}": {
      "post": {
        "summary": "Add or remove documents from a library",
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Add or delete a document to a given library. Returns the number of documents added or removed.\n\nThe following type of user can add or remove documents:\n* owner\n* admin\n* write\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the action to be performed and metadata of the library to be created.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "bibcode"
                ],
                "properties": {
                  "bibcode": {
                    "type": "array",
                    "description": "List of bibcodes to be added or removed\n",
                    "items": {
                      "type": "string"
                    }
                  },
                  "action": {
                    "type": "string",
                    "description": "'add' or 'remove' to add or remove the given bibcodes from the specified library\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns number of bibcodes added or removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "number_added": {
                      "type": "integer",
                      "description": "Number of bibcodes added, if 'add' is used\n"
                    },
                    "number_removed": {
                      "type": "integer",
                      "description": "Number of bibcodes removed, if 'remove' is used\n"
                    },
                    "invalid_bibcodes": {
                      "type": "array",
                      "description": "List of bibcodes that were not found in ADS and could not be added to the library.\n",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No username passed, bad library ID passed, wrong type passed, user requested a non-standard operation or user supplied list of bibcodes contained no valid bibcodes.\n"
          },
          "403": {
            "description": "User does not have permission to perform this operation\n"
          }
        }
      },
      "put": {
        "summary": "Update the metadata of a library",
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Update the metadata of a given library.\n\nThe following type of user can edit library metadata:\n* owner\n* admin\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the metadata to update. If some fields don't need to be changed, they don't need to be included in the payload.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name of the library\n"
                  },
                  "description": {
                    "type": "string",
                    "description": "New library description\n"
                  },
                  "public": {
                    "type": "boolean",
                    "description": "true if the library should be publicly viewable, false if it should be private (note that this is case sensitive and should be lower case)\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the key/value that was requested to be updated\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "public": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No username passed, bad library ID passed, or wrong type passed\n"
          },
          "403": {
            "description": "User does not have permission to perform this operation\n"
          },
          "409": {
            "description": "Duplicate library name exists\n"
          },
          "410": {
            "description": "Library specified does not exist\n"
          }
        }
      },
      "delete": {
        "summary": "Delete a library",
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Delete the given library.\n\nThe following type of user can delete the library:\n* owner\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns empty object\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "No username passed or bad library ID passed\n"
          },
          "403": {
            "description": "User does not have permission to perform this operation\n"
          },
          "410": {
            "description": "Library specified does not exist\n"
          }
        }
      }
    },
    "/biblib/query/{library_id}": {
      "get": {
        "summary": "Add documents to a library by query",
        "description": "Add documents to a given library by passing a query to the endpoint.\n\nQueries can be performed as they would be using the \"search\" endpoint with all the same options available to the user.\nThe following type of user can add or remove documents:\n* owner\n* admin\n* write\n## Example Request\n`<library_id>?q=black+holes&fq=database:astronomy`\n## Example Response\n```bash\n {\"number_added\": 10,\n \"bibcodes\":\n   [\"1973PhRvD...7.2333B\",\n    \"1973blho.conf..343N\",\n    \"1977MNRAS.179..433B\",\n    \"2016PhRvL.116f1102A\",\n    \"1975CMaPh..43..199H\",\n    \"1976PhRvD..14..870U\",\n    \"2013ARA&A..51..511K\",\n    \"2023MNRAS.518.1057E\",\n    \"1973A&A....24..337S\",\n    \"1974Natur.248...30H\"]}\n```\n",
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/fq"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/rows"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns number of bibcodes added or removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "number_added": {
                      "type": "integer",
                      "description": "Number of bibcodes added, if 'add' is used\n"
                    },
                    "bibcodes": {
                      "type": "array",
                      "description": "List of bibcodes added to the library.\n",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No username passed, bad library ID passed, wrong type passed, user requested a non-standard operation or user supplied a malformed search query\n"
          },
          "403": {
            "description": "User does not have permission to perform this operation\n"
          },
          "404": {
            "description": "Resource not found"
          },
          "499": {
            "description": "Server too busy"
          },
          "500": {
            "description": "Server error"
          }
        },
        "tags": [
          "libraries"
        ]
      },
      "post": {
        "summary": "Add or remove documents from a library by query",
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Add or delete a documents to a given library based on supplied \"search\" query parameters. Returns the number of documents added or removed.\n\nThe following type of user can add or remove documents:\n* owner\n* admin\n* write\n## Example Payload\n`{\"params\": {\"q\": \"black holes\", \"fq\": \"database:astronomy\"}, \"action\": \"add\"}`\n## Example Response\n```bash\n {\"number_added\": 10,\n \"bibcodes\":\n   [\"1973PhRvD...7.2333B\",\n    \"1973blho.conf..343N\",\n    \"1977MNRAS.179..433B\",\n    \"2016PhRvL.116f1102A\",\n    \"1975CMaPh..43..199H\",\n    \"1976PhRvD..14..870U\",\n    \"2013ARA&A..51..511K\",\n    \"2023MNRAS.518.1057E\",\n    \"1973A&A....24..337S\",\n    \"1974Natur.248...30H\"]}\n```\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the action to be performed and metadata of the library to be created.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "params"
                ],
                "properties": {
                  "params": {
                    "type": "object",
                    "required": [
                      "q"
                    ],
                    "properties": {
                      "q": {
                        "type": "string",
                        "description": "The core query string\n"
                      },
                      "fq": {
                        "type": "string",
                        "description": "query context filtering\n"
                      },
                      "start": {
                        "type": "integer",
                        "description": "The entry number of the query to begin on\n"
                      },
                      "rows": {
                        "type": "integer",
                        "description": "How many entries to include from the query\n"
                      },
                      "sort": {
                        "type": "string",
                        "description": "The sort order for the returned query\n"
                      }
                    },
                    "description": "relevant query parameters\n",
                    "items": {
                      "type": "object"
                    }
                  },
                  "action": {
                    "type": "string",
                    "description": "'add' or 'remove' to add or remove the given query from the specified library\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns number of bibcodes added or removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "number_added": {
                      "type": "integer",
                      "description": "Number of bibcodes added, if 'add' is used\n"
                    },
                    "number_removed": {
                      "type": "integer",
                      "description": "Number of bibcodes removed, if 'remove' is used\n"
                    },
                    "bibcodes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "All bibcodes added from the query\n"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No username passed, bad library ID passed, wrong type passed, or user requested a non-standard operation User passed a malformed search query.\n"
          },
          "403": {
            "description": "User does not have permission to perform this operation.\n"
          }
        }
      }
    },
    "/biblib/permissions/{library_id}": {
      "get": {
        "summary": "View permissions of a library",
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "View permissions of a specific library.\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of all permissions for the user for the library",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "array",
                      "description": "Key is email of the user, item is a list of that user's permissions for the given library\n",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No username passed, or bad library ID passed\n"
          },
          "403": {
            "description": "User does not have permission to perform this operation\n"
          }
        }
      },
      "post": {
        "summary": "Edit permission of a library",
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Edit the permissions of a library\n\nThe following type of user can add or remove documents:\n* owner\n* admin\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the email of the user whose permissions will be modified and the permissions to be added or removed. User may not modify their own permissions\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "permission"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address of user whose permissions will be modified\n"
                  },
                  "permission": {
                    "type": "object",
                    "description": "Only required to include permissions that will be modified\n",
                    "properties": {
                      "read": {
                        "type": "boolean"
                      },
                      "write": {
                        "type": "boolean"
                      },
                      "admin": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns empty object\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "No username passed, bad library ID passed, or wrong type passed\n"
          },
          "403": {
            "description": "User does not have permission to perform this operation\n"
          },
          "404": {
            "description": "User does not have an ADS account\n"
          }
        }
      }
    },
    "/biblib/transfer/{library_id}": {
      "post": {
        "summary": "Transfer ownership of a library",
        "parameters": [
          {
            "name": "library_id",
            "description": "Library ID",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Transfer ownership of a library from one user to another\n\nThe following type of user can add or remove documents:\n* owner\n",
        "tags": [
          "libraries"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the email of the user that library ownership will be transferred to\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address of user who ownership will be transferred to\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns empty object\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "No username passed, bad library ID passed, or wrong type passed\n"
          },
          "403": {
            "description": "User does not have permission to perform this operation\n"
          },
          "404": {
            "description": "User does not have an ADS account\n"
          }
        }
      }
    },
    "/export/bibtexabs/{bibcode}": {
      "get": {
        "summary": "BibTeX + abstract export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the BibTeX + abstract format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/bibtexabs": {
      "post": {
        "summary": "BibTeX + abstract export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the BibTeX + abstract format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/bibtex/{bibcode}": {
      "get": {
        "summary": "BibTeX export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the BibTeX format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/bibtex": {
      "post": {
        "summary": "BibTeX export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the BibTeX format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/ads/{bibcode}": {
      "get": {
        "summary": "ADS (generic tagged) export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the ADS format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/ads": {
      "post": {
        "summary": "ADS (generic tagged) export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the ADS format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/endnote/{bibcode}": {
      "get": {
        "summary": "EndNote export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the EndNote format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/endnote": {
      "post": {
        "summary": "EndNote export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the EndNote format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/procite/{bibcode}": {
      "get": {
        "summary": "ProCite export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the ProCite format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/procite": {
      "post": {
        "summary": "ProCite export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the ProCite format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/ris/{bibcode}": {
      "get": {
        "summary": "RIS (Refman) export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the RIS (Refman) format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/ris": {
      "post": {
        "summary": "RIS (Refman) export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the RIS (Refman) format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/refworks/{bibcode}": {
      "get": {
        "summary": "RefWorks export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the RefWorks format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/refworks": {
      "post": {
        "summary": "RefWorks export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the RefWorks format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/medlars/{bibcode}": {
      "get": {
        "summary": "MEDLARS export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the MEDLARS format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/medlars": {
      "post": {
        "summary": "MEDLARS export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the MEDLARS format\n",
        "tags": [
          "export (tagged formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/aastex/{bibcode}": {
      "get": {
        "summary": "AASTeX export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the AASTeX format\n",
        "tags": [
          "export (LaTeX formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/aastex": {
      "post": {
        "summary": "AASTeX export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the AASTeX format\n",
        "tags": [
          "export (LaTeX formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/icarus/{bibcode}": {
      "get": {
        "summary": "Icarus export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the Icarus format\n",
        "tags": [
          "export (LaTeX formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/icarus": {
      "post": {
        "summary": "Icarus export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the Icarus format\n",
        "tags": [
          "export (LaTeX formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/mnras/{bibcode}": {
      "get": {
        "summary": "MNRAS export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the MNRAS format\n",
        "tags": [
          "export (LaTeX formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/mnras": {
      "post": {
        "summary": "MNRAS export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the MNRAS format\n",
        "tags": [
          "export (LaTeX formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/soph/{bibcode}": {
      "get": {
        "summary": "Solar Physics (SoPh) export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the Solar Physics (SoPh) format\n",
        "tags": [
          "export (LaTeX formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/soph": {
      "post": {
        "summary": "Solar Physics (SoPh) export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the Solar Physics (SoPh) format\n",
        "tags": [
          "export (LaTeX formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/dcxml/{bibcode}": {
      "get": {
        "summary": "Dublin Core (DC) XML export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the Dublin Core (DC) XML format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/dcxml": {
      "post": {
        "summary": "Dublin Core (DC) XML export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the Dublin Core (DC) XML format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/refxml/{bibcode}": {
      "get": {
        "summary": "REF-XML export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the REF-XML format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/refxml": {
      "post": {
        "summary": "REF-XML export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the REF-XML format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/refabsxml/{bibcode}": {
      "get": {
        "summary": "REFABS-XML export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the REFABS-XML format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/refabsxml": {
      "post": {
        "summary": "REFABS-XML export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the REFABS-XML format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/votable/{bibcode}": {
      "get": {
        "summary": "VOTables export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the VOTables format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/votable": {
      "post": {
        "summary": "VOTables export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the VOTables format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/rss/{bibcode}": {
      "get": {
        "summary": "RSS export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the RSS format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/rss": {
      "post": {
        "summary": "RSS export for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the RSS format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/rss/{bibcode}/{link}": {
      "get": {
        "summary": "RSS export for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          },
          {
            "$ref": "#/components/parameters/link"
          }
        ],
        "description": "Export the given bibcode in the RSS format\n",
        "tags": [
          "export (XML formats)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/ieee/{bibcode}": {
      "get": {
        "summary": "IEEE export (Unicode-encoded) for a single bibcode (GET)",
        "parameters": [
          {
            "$ref": "#/components/parameters/bibcode"
          }
        ],
        "description": "Export the given bibcode in the IEEE format\n",
        "tags": [
          "export (other)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponseGet"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/ieee": {
      "post": {
        "summary": "IEEE export (Unicode-encoded) for multiple bibcodes (POST)",
        "description": "Export the given bibcodes in the IEEE format\n",
        "tags": [
          "export (other)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/exportBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/csl": {
      "post": {
        "summary": "CSL export for one or more bibcodes (POST)",
        "description": "Export the given bibcodes in the given style and format\n",
        "tags": [
          "export (other)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the bibcodes to export, and the style and format to export them in.\n",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/bibcodeObject"
                  },
                  {
                    "type": "object",
                    "required": [
                      "style",
                      "format"
                    ],
                    "properties": {
                      "style": {
                        "description": "Journal style to use",
                        "type": "string",
                        "enum": [
                          "aastex",
                          "icarus",
                          "mnras",
                          "soph",
                          "aspc",
                          "apsj",
                          "aasj",
                          "ieee"
                        ]
                      },
                      "format": {
                        "description": "Output format; use 1 for Unicode, 2 for HTML, or 3 for LaTeX",
                        "type": "integer"
                      },
                      "journalformat": {
                        "description": "Format of journal name; used only for aastex, aspc, and aasj styles. Use 1 for AASTeX macros (default), 2 for journal abbreviations, or 3 for full journal name.\n",
                        "type": "integer"
                      },
                      "sort": {
                        "description": "Sort order for export",
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/export/custom": {
      "post": {
        "summary": "Custom-format export for one or more bibcodes (POST)",
        "description": "Export the given bibcodes in the given custom format\n",
        "tags": [
          "export (other)"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the bibcodes to export, and the custom format to export them in.\n",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/bibcodeObject"
                  },
                  {
                    "type": "object",
                    "required": [
                      "format"
                    ],
                    "properties": {
                      "format": {
                        "description": "Custom format; see the [main export documentation](https://ui.adsabs.harvard.edu/help/actions/export) for more information.\n",
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportResponse"
          },
          "404": {
            "description": "No result from Solr\n"
          }
        }
      }
    },
    "/metrics": {
      "post": {
        "summary": "Retrieve metrics for one or more bibcodes",
        "description": "This endpoint retrieves some or all of the available citation metrics for one or more bibcodes. More documentation is available [here](https://github.com/adsabs/adsabs-dev-api/blob/master/Metrics_API.ipynb).\n\nThe available statistics types are:\n\n* 'basic': publication and usage stats (all papers, and just refereed papers); returns 'basic stats' and 'basic stats refereed'\n* 'citations': citation stats; returns 'citation stats' and 'citation stats refereed'\n* 'indicators': indicators, like the h-index, g-index, m-index, etc.; returns 'indicators' and 'indicators refereed'\n* 'histograms': publication, citation, reads and downloads histograms; returns 'histograms'\n* 'timeseries': time series for a set of indicators; returns 'time series'\n",
        "tags": [
          "metrics"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the bibcode(s) to produce metrics for, as well as types of metrics desired. Depending on the type of metrics requested, other options may be included in the payload.\n",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/bibcodesObject"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "types": {
                        "description": "Types of metrics to return. If not specified, all metrics will be returned.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "basic",
                            "citations",
                            "indicators",
                            "histograms",
                            "timeseries"
                          ]
                        }
                      },
                      "histograms": {
                        "description": "If the metrics type is 'histograms', types of histograms to return. If not specified, all histograms will be returned.\n\nThe available histogram types are:\n\n* 'publications': returns 'all publications', 'refereed publications', 'all publications normalized', 'refereed publications normalized'\n* 'reads': returns 'all reads', 'refereed reads', 'all reads normalized', 'refereed reads normalized'\n* 'downloads': returns 'all downloads', 'refereed downloads', 'all downloads normalized', 'refereed downloads normalized'\n* 'citations': returns 'refereed to refereed', 'nonrefereed to refereed', 'refereed to nonrefereed', 'nonrefereed to nonrefereed', 'refereed to refereed normalized', 'nonrefereed to refereed normalized', 'refereed to nonrefereed normalized', 'nonrefereed to nonrefereed normalized'\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "publications",
                            "reads",
                            "downloads",
                            "citations"
                          ]
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON containing the requested metrics\n",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/basicMetricsResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "indicators": {
                          "type": "object",
                          "properties": {
                            "g": {
                              "type": "integer"
                            },
                            "h": {
                              "type": "integer"
                            },
                            "i10": {
                              "type": "integer"
                            },
                            "i100": {
                              "type": "integer"
                            },
                            "m": {
                              "type": "number"
                            },
                            "read10": {
                              "type": "number"
                            },
                            "riq": {
                              "type": "integer"
                            },
                            "tori": {
                              "type": "number"
                            }
                          }
                        },
                        "indicators refereed": {
                          "type": "object",
                          "properties": {
                            "g": {
                              "type": "integer"
                            },
                            "h": {
                              "type": "integer"
                            },
                            "i10": {
                              "type": "integer"
                            },
                            "i100": {
                              "type": "integer"
                            },
                            "m": {
                              "type": "number"
                            },
                            "read10": {
                              "type": "number"
                            },
                            "riq": {
                              "type": "integer"
                            },
                            "tori": {
                              "type": "number"
                            }
                          }
                        },
                        "time series": {
                          "type": "object",
                          "properties": {
                            "g": {
                              "type": "object",
                              "properties": {
                                "year": {
                                  "type": "integer"
                                }
                              }
                            },
                            "h": {
                              "type": "object",
                              "properties": {
                                "year": {
                                  "type": "integer"
                                }
                              }
                            },
                            "i10": {
                              "type": "object",
                              "properties": {
                                "year": {
                                  "type": "integer"
                                }
                              }
                            },
                            "i100": {
                              "type": "object",
                              "properties": {
                                "year": {
                                  "type": "integer"
                                }
                              }
                            },
                            "m": {
                              "type": "object",
                              "properties": {
                                "year": {
                                  "type": "number"
                                }
                              }
                            },
                            "read10": {
                              "type": "object",
                              "properties": {
                                "year": {
                                  "type": "number"
                                }
                              }
                            },
                            "riq": {
                              "type": "object",
                              "properties": {
                                "year": {
                                  "type": "integer"
                                }
                              }
                            },
                            "tori": {
                              "type": "object",
                              "properties": {
                                "year": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Unable to get results\n"
          },
          "500": {
            "description": "Metrics request blew up"
          }
        }
      }
    },
    "/metrics/{bibcode}": {
      "get": {
        "summary": "Retrieve metrics for one bibcode",
        "description": "Similar to the `/metrics` endpoint, but returns data for a single bibcode only. Does not return indicators or timeseries.\n",
        "parameters": [
          {
            "name": "bibcode",
            "description": "Bibcode to return metrics for",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "metrics"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON containing the requested metrics\n",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/basicMetricsResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Unable to get results\n"
          },
          "500": {
            "description": "Metrics request blew up"
          }
        }
      }
    },
    "/metrics/detail": {
      "post": {
        "summary": "Retrieve detail-level metrics for one or more bibcodes",
        "description": "Provides basic, year-by-year metrics on a per-bibcode basis.\n",
        "tags": [
          "metrics"
        ],
        "security": [
          {
            "ApiKeySecurity": []
          }
        ],
        "requestBody": {
          "description": "JSON containing the bibcode(s) to produce metrics for.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bibcodesObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON containing the requested metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bibcode": {
                      "type": "object",
                      "properties": {
                        "citations": {
                          "type": "object",
                          "properties": {
                            "year": {
[...]
